@import './scss/Custom/custom_bootstrap.scss';  
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');


#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;  }
  #footer{
    margin-top: auto !important;
    display: flex;
    justify-content: center;
  }




  // sezione HOME
  .red{
    color: rgb(219, 25, 25);
  }
  .blue{
    color: rgb(23, 189, 172)
  }

#app{
  background-image: url("../assets/img/map.PNG");
  background-size:cover; 
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden !important;
  
}
.dd{
  background-color: rgba(128, 128, 128, 0.419);
}

@media screen and (max-width:576px) {
  .heigthCol{
    height: 70vh !important;
  }}
@media screen and (min-width:576px) {
  .heigthCol{
    height: 53vh !important;
  }
  
  
}
#colScroll{
  height: 100% !important;
}


#scrollRow{
  height: 210px !important;
  overflow-x: scroll;
  background-color: rgba(128, 128, 128, 0.419);
overflow-y: hidden;
&::-webkit-scrollbar {
  width: 15px;
  // visibility: hidden;
  //  background: linear-gradient(#242424 10% , rgb(13, 13, 13) 95%) !important;
  background: rgba($color: #000000, $alpha: 0.3);
  &:hover {
    visibility: visible;
  }
}

&::-webkit-scrollbar-thumb {
  background: rgba(146, 146, 146, 0.651);
  // visibility: hidden;
  border-radius: 40px;
  width: 50px;
  &:hover {
    visibility: visible;
  }
}
 
}


#coll{
  flex-direction: column;
  align-items: center !important;
}
#mainCity{
  overflow-y: hidden !important;
}




@media screen and (max-width:700px) {
  #scrollRow{
    flex-wrap: wrap !important;
    overflow-y: scroll;
&::-webkit-scrollbar {
  width: 15px;
  // visibility: hidden;
  //  background: linear-gradient(#242424 10% , rgb(13, 13, 13) 95%) !important;
  background: rgba($color: #000000, $alpha: 0);
  &:hover {
    visibility: visible;
  }
}

&::-webkit-scrollbar-thumb {
  background: rgba(146, 146, 146, 0.651);
  // visibility: hidden;
  border-radius: 40px;
  width: 50px;
  &:hover {
    visibility: visible;
  }
}

  }
}

.home-row{
  height: 70vh;
  
}
.cc{
  background-color: rgba(128, 128, 128, 0.419);
}
.spinner{
  z-index: 50;
}