@import './scss/Custom/custom_bootstrap.scss';  
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');


#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;  }
  #footer{
    margin-top: auto !important;
    display: flex;
    justify-content: center;
  }




  // sezione HOME
  .red{
    color: rgb(219, 25, 25);
  }
  .blue{
    color: rgb(23, 189, 172)
  }

#app{
  background-image: url("../assets/img/map.PNG");
  background-size:cover; 
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.dd{
  background-color: rgba(128, 128, 128, 0.419);
}
.heigthCol{
  height: 50vh;
}
#scrollRow{
  overflow-x: scroll;
  background-color: rgba(128, 128, 128, 0.419);
overflow-y: hidden;
}
#box{
  height: 70px;
}

#img2{
  position: absolute !important;
  left: 80px !important;
  bottom: -20px;
  // height: 50px;
}